@import "variables";

html {
  overflow-y: scroll;
}

button {
  @extend .clickable
}

.clickable {
  cursor: pointer
}

.col-7rem {
  flex: 0 0 7rem;
  max-width: 7rem;
}

.disabled-date {
  color: $gray;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-thumbnail {
  height: $movie-thumbnail-height;
  width: $movie-thumbnail-height / 3 * 2;
}

.no-wrap {
  white-space: nowrap;
}

.selectable-outer,
.table-sm .selectable-outer {
  padding: 8px;
}

.selectable-inner {
  padding: 2px;

  &.selected {
    border-radius: 5px;
    box-shadow: 0 0 10px 5px red;
  }
}

.selectable-inner-date {
  display: inline-block;
  width: 2rem;
}

.table-showings td {
  vertical-align: middle;
}

.table-text-center td,
.table-text-center th {
  text-align: center;
}