@import "bootstrap";

.clickable {
  cursor: pointer
}

.selected-item {
  background-color: #ddd;
}

.col-1-of-7 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100&;

  // TODO: Use Bootstrap's mixins.
  flex: 0 0 percentage(1/7);
  max-width: percentage(1/7);
}